'.source.source.isc.udl':
	'Cache Class':
		'prefix': 'cl'
		'body': """
			Class ${1:class_Name} Extends ${2:%RegisteredObject}
			{
				// --- PARAMETER -----------------------------------------------------------------------------
				$0
				// --- PROPERTY ------------------------------------------------------------------------------
				
				// --- INDEX ---------------------------------------------------------------------------------
				
				// --- METHOD --------------------------------------------------------------------------------
				
				// --- XDATA ---------------------------------------------------------------------------------
				
				// --- STORAGE -------------------------------------------------------------------------------
				
			}
		"""
	'Cache ClassMethod':
		'prefix': 'cm'
		'body': """
			ClassMethod ${1:MethodName}()
			{
				$0
			}
		"""
	'Cache Method':
		'prefix': 'm'
		'body':"""
			Method ${1:MethodName}()
			{
				$0
			}
		"""
	'Cache Parameter':
		'prefix': 'pa'
		'body': """
			Parameter ${1:ParameterName};
		"""
	'Cache Property':
		'prefix': 'pr'
		'body': """
			Property ${1:PropertyName} As ${2:type};
		"""
	'Cache Index':
		'prefix': 'in'
		'body': """
			Index ${1:IndexName} On ${2:PropertyName};
		"""
	'Cache Query':
		'prefix': 'qu'
		'body': """
			Query ${1:QueryName}() As %Query(ROWSPEC = "")
			{
			}
			
			ClassMethod ${1:QueryName}Execute(ByRef qHandle As %Binary) As %Status
			{
				Quit $$$OK
			}
			
			ClassMethod ${1:QueryName}Close(ByRef qHandle As %Binary) As %Status [ PlaceAfter = NewQuery1Execute ]
			{
				Quit $$$OK
			}
			
			ClassMethod ${1:QueryName}Fetch(ByRef qHandle As %Binary, ByRef Row As %List, ByRef AtEnd As %Integer = 0) As %Status [ PlaceAfter = NewQuery1Execute ]
			{
				Quit $$$OK
			}
		"""
	'Cache Xdata':
		'prefix': 'xd'
		'body': """
			Xdata ${1:DataName}
			{
				$0
			}
		"""
	'Cache Storage':
		'prefix': 'st'
		'body':"""
			Storage Default
			{
				<Data name="LogDefaultData">
					<Value name="1">
						<Value>%%CLASSNAME</Value>
					</Value>
					$0
				</Data>
				<DataLocation>^${1:Location}D</DataLocation>
				<DefaultData>LogDefaultData</DefaultData>
				<IdLocation>^${2:Location}D</IdLocation>
				<IndexLocation>^${3:Location}I</IndexLocation>
				<StreamLocation>^${4:Location}S</StreamLocation>
				<Type>%Library.CacheStorage</Type>
			}
		"""
	'Cache Try':
		'prefix': 'try'
		'body': """
			set result = $$$OK
			try {
				$0
			} catch e {
				set result = e.AsStatus()
			}
			quit result
		"""
