// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.cache-atom-studio {
	.section-panel {
		margin-bottom: 16px;
	}
}

.cache-atom-studio-conf-footer {
	padding: 6px 20px;
	display: flex;
}
.cache-atom-studio-conf-savebtn {
	flex: 1;
}

.cache-atom-studio-conf-cancelbtn {
	margin-left: 10px;
	flex: 1;
}
